@charset "UTF-8";
.aside {
  position: fixed;
  right: 0;
  bottom: 0;
  font-size: 12px;
  z-index: 85;
  height: 100%;
}

.aside .left {
  padding-top: 240px;
  width: 44px;
  height: 100%;
  position: relative;
  transition: right 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  float: left;
}

.aside .left .talk {
  width: 100%;
  position: relative;
}

.aside .left .talk .a1 {
  position: relative;
  right: 13px;
  z-index: 4;
  display: block;
  background-image: url(http://127.0.0.1/myriadWatch/images/d.png);
  background-position: -142px -38px;
  background-size: 475px;
  width: 57px;
  height: 66px;
}

.aside .left .talk .talk2 {
  display: none;
  width: 300px;
  opacity: 1;
  position: absolute;
  top: 3px;
  right: 75px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  text-align: center;
  background: #fff;
  z-index: 2;
}

.aside .left .talk .talk2 .i1 {
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 16px;
  transition: transform .2s ease-out 0s;
  z-index: 2;
  display: block;
  background-image: url(http://127.0.0.1/myriadWatch/images/a.png);
  background-position: -97px -504px;
  background-size: 589px;
  width: 17px;
  height: 16px;
}

.aside .left .talk .talk2 .i1:hover {
  transform: rotate(180deg);
}

.aside .left .talk .talk2 .i2 {
  position: absolute;
  right: -15px;
  top: 16px;
  transform: rotate(90deg);
  display: block;
  background-image: url(http://127.0.0.1/myriadWatch/images/a.png);
  background-position: -206px -325px;
  background-size: 589px;
  width: 16px;
  height: 14px;
  z-index: 10;
}

.aside .left .talk .talk2 .detail {
  position: relative;
  height: 133px;
}

.aside .left .talk .talk2 .detail .detail1 {
  width: 86%;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 7%;
  transform: translateY(-35%);
}

.aside .left .talk .talk2 .detail .detail1 h3 {
  color: #ccaa7a;
  font-size: 20px;
  white-space: nowrap;
}

.aside .left .talk .talk2 .detail .detail1 p {
  color: #666;
  margin-top: 7px;
  white-space: nowrap;
}

.aside .left .talk .talk2 .detail2 {
  width: 100%;
  height: 44px;
  overflow: hidden;
  box-sizing: border-box;
  border-top: 1px solid #ebebeb;
}

.aside .left .talk .talk2 .detail2 .a2 {
  color: #cc3d3d;
}

.aside .left .talk .talk2 .detail2 .a2::after {
  content: "";
  width: 4px;
  height: 4px;
  background-color: #cc3d3d;
  border-radius: 100%;
  position: absolute;
  top: 14px;
  right: 46px;
}

.aside .left .talk .talk2 .detail2 a {
  display: block;
  float: left;
  width: 50%;
  position: relative;
  color: #666;
  font-weight: 700;
  line-height: 43px;
}

.aside .left .aside2 {
  position: absolute;
  left: 0;
  bottom: 346px;
  width: 100%;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);
}

.aside .left .aside2 a {
  position: relative;
  display: block;
  width: 44px;
  height: 44px;
  background-color: #fff;
  color: #666;
}

.aside .left .aside2 a i {
  position: absolute;
  top: 10px;
  left: 10px;
  background-image: url(http://127.0.0.1/myriadWatch/images/a.png);
  background-size: 589px;
  width: 24px;
  height: 24px;
}

.aside .left .aside2 a .i1 {
  display: block;
  background-position: -507px -382px;
}

.aside .left .aside2 a .i2 {
  display: none;
  background-position: -339px -462px;
}

.aside .left .aside2 a .i3 {
  display: block;
  background-position: -507px -246px;
}

.aside .left .aside2 a .i4 {
  display: none;
  background-position: -507px -212px;
}

.aside .left .aside2 a .i5 {
  display: block;
  background-position: -469px -360px;
}

.aside .left .aside2 a .i6 {
  display: none;
  background-position: -507px -280px;
}

.aside .left .aside2 a .i7 {
  display: block;
  background-position: -373px -462px;
}

.aside .left .aside2 a .i8 {
  display: none;
}

.aside .left .aside2 a .i9 {
  display: block;
  background-position: -507px -178px;
}

.aside .left .aside2 a .i10 {
  display: none;
}

.aside .left .aside2 a em {
  width: 16px;
  height: 16px;
  position: absolute;
  right: 5px;
  top: 3px;
  text-align: center;
  line-height: 15px;
  color: #fff;
  font-size: 10px;
  background: #b32424;
  border-radius: 50%;
  display: none !important;
}

.aside .left .aside2 a span {
  display: none;
  opacity: 1;
  width: 76px;
  height: 44px;
  line-height: 44px;
  color: #333;
  font-size: 12px;
  background: #f1f1f1;
  text-align: right;
  padding-right: 6px;
  position: absolute;
  right: 44px;
  bottom: 0;
  z-index: 2;
}

.aside .left .aside2 a .text {
  display: none;
  opacity: 1;
  width: 180px;
  background: #f1f1f1;
  padding: 18px 10px 15px 10px;
  bottom: -44px;
  height: 188px;
  line-height: 44px;
  color: #333;
  font-size: 12px;
  text-align: right;
  position: absolute;
  right: 44px;
  z-index: 2;
}

.aside .left .aside2 a .text img {
  margin: 0 auto;
}

.aside .left .aside2 a .text p {
  color: #333;
  line-height: 18px;
  text-align: center;
  padding-left: 10px；;
}

.aside .right {
  display: none;
  height: 100%;
  background: #f1f1f1;
  transition: right 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  z-index: 99;
  border-left: 2px solid #333;
  float: left;
}

.aside .right .floor1 {
  display: none;
  width: 260px;
  height: 100%;
  background: #f1f1f1;
  transition: right 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  z-index: 99;
}

.aside .right .floor1 .top {
  height: 48px;
  line-height: 48px;
  background: #fff;
  padding: 0 10px;
  border-bottom: 1px solid #ddd;
}

.aside .right .floor1 .top b {
  font-size: 14px;
  color: #333;
  float: left;
}

.aside .right .floor1 .top i {
  float: right;
  display: inline-block;
  cursor: pointer;
  margin-top: 14px;
  background-image: url(http://127.0.0.1/myriadWatch/images/a.png);
  background-position: -97px -504px;
  background-size: 589px;
  width: 17px;
  height: 16px;
}

.aside .right .floor1 .middle {
  height: 32px;
  line-height: 32px;
  padding: 0 12px;
  background: #fff9ce;
  color: #666;
}

.aside .right .floor1 .middle span {
  float: left;
}

.aside .right .floor1 .middle a {
  color: #477db3;
  line-height: 32px;
  float: right;
}

.aside .right .floor1 .bottom {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #666;
}

.aside .right .floor1 .bottom i {
  display: block;
  background-image: url(http://127.0.0.1/myriadWatch/images/a.png);
  background-position: 0 -296px;
  background-size: 589px;
  width: 55px;
  height: 51px;
  margin: 0 auto 23px;
}

.aside .right .floor2 {
  display: none;
  right: 0;
  width: 260px;
  height: 100%;
  background: #f1f1f1;
  transition: right 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  z-index: 99;
}

.aside .right .floor2 .top {
  position: relative;
  padding: 0 12px;
  background: #fff;
  border-bottom: 1px solid #ddd;
}

.aside .right .floor2 .top ul {
  border-bottom: 0;
  width: 100%;
  overflow: hidden;
  background: #fff;
  display: flex;
}

.aside .right .floor2 .top ul li {
  height: 48px;
  line-height: 48px;
  margin-right: 20px;
  display: block;
  float: left;
  text-align: center;
}

.aside .right .floor2 .top ul li a {
  font-weight: 700;
  line-height: 45px;
  font-size: 14px;
  display: inline-block;
  color: #666;
}

.aside .right .floor2 .top ul li .active {
  color: #000;
  border-bottom: 3px solid #000;
  font-weight: 900;
}

.aside .right .floor2 .top i {
  position: absolute;
  top: 16px;
  right: 12px;
  cursor: pointer;
  display: block;
  background-image: url(http://127.0.0.1/myriadWatch/images/a.png);
  background-position: -97px -504px;
  background-size: 589px;
  width: 17px;
  height: 16px;
  float: right;
}

.aside .right .floor2 .middle {
  height: 32px;
  line-height: 32px;
  padding: 0 12px;
  background: #fff9ce;
  color: #666;
}

.aside .right .floor2 .middle span {
  float: left;
}

.aside .right .floor2 .middle a {
  color: #477db3;
  line-height: 32px;
  float: right;
}

.aside .right .floor2 .bottom {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #666;
}

.aside .right .floor3 {
  display: none;
  right: 0;
  width: 260px;
  height: 100%;
  background: #f1f1f1;
  transition: right 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  z-index: 99;
}

.aside .right .floor3 .top {
  height: 48px;
  line-height: 48px;
  background: #fff;
  padding: 0 10px;
  border-bottom: 1px solid #ddd;
}

.aside .right .floor3 .top b {
  font-size: 14px;
  color: #333;
  float: left;
}

.aside .right .floor3 .top i {
  display: inline-block;
  cursor: pointer;
  margin-top: 14px;
  background-image: url(http://127.0.0.1/myriadWatch/images/a.png);
  background-position: -97px -504px;
  background-size: 589px;
  width: 17px;
  height: 16px;
  float: right;
}

.aside .right .floor3 .middle {
  height: 32px;
  line-height: 32px;
  padding: 0 12px;
  background: #fff9ce;
  color: #666;
}

.aside .right .floor3 .middle span {
  float: left;
}

.aside .right .floor3 .middle a {
  color: #477db3;
  line-height: 32px;
  float: right;
}

.aside .right .floor3 .bottom span {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #666;
}
