.head3 {
  width: 100%;
  height: 115px;
}

.head3 .content {
  width: 1200px;
  height: 100%;
  margin: auto;
}

.head3 .content .left {
  width: 404px;
  height: 93px;
  margin-top: 18px;
}

.head3 .content .right {
  width: 392px;
  height: 40px;
  margin-top: 37.5px;
}

.head3 .content .right label {
  position: relative;
  width: 316px;
  height: 40px;
  line-height: 38px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  border-radius: 4px 0 0 4px;
  display: block;
  color: #999;
  cursor: text;
}

.head3 .content .right label span {
  width: 286px;
  position: absolute;
  left: 30px;
  color: #ccc;
  z-index: 1;
}

.head3 .content .right label input {
  width: 286px;
  height: 100%;
  padding-left: 30px;
  border: 0;
  display: block;
  color: #333;
  font-size: 14px;
  position: relative;
  z-index: 10;
  background: rgba(255, 255, 255, 0);
}

.head3 .content .right button {
  width: 76px;
  height: 40px;
  cursor: pointer;
  font-size: 14px;
  color: #fff;
  border-radius: 0 4px 4px 0;
  border: 0;
  background-image: linear-gradient(-270deg, #da6666 0, #b33636 100%);
}
