.head4 {
  width: 100%;
  height: 48px;
  background-color: white;
}

.head4 .content {
  width: 1200px;
  height: 100%;
  margin: auto;
}

.head4 .content .left {
  width: 202px;
  height: 48px;
  line-height: 48px;
  margin-right: 20px;
  position: relative;
}

.head4 .content .left .a1 {
  height: 48px;
  line-height: 48px;
  display: block;
  padding: 0 16px;
  font-size: 14px;
  background-image: linear-gradient(269deg, #b34747 1%, #cc5252 98%);
  background-color: #b32424;
  color: #fff;
}

.head4 .content .left .a1 i {
  position: absolute;
  top: 18px;
  right: 20px;
  background-image: url(http://127.0.0.1/myriadWatch/images/a.png);
  background-position: -280px -325px;
  background-size: 589px;
  width: 14px;
  height: 14px;
  color: #fff;
}

.head4 .content .left .ul1 {
  width: 100%;
  display: block;
  background: rgba(255, 255, 255, 0.9);
  width: 202px;
  height: 460px;
  position: absolute;
  z-index: 2;
  box-shadow: 2px 0 4px 0 rgba(0, 0, 0, 0.1), -2px 0 4px 0 rgba(0, 0, 0, 0.1);
  background: #e6e6e6;
}

.head4 .content .left .ul1 > li {
  width: 100%;
  height: 57.5px;
  overflow: hidden;
  box-shadow: inset -20px -7px 7px -15px rgba(0, 0, 0, 0.04);
}

.head4 .content .left .ul1 > li dl {
  width: 182px;
  height: 100%;
  margin: 0 auto;
  box-shadow: inset 0 1px 0 0 rgba(196, 142, 142, 0.1);
  font-size: 12px;
}

.head4 .content .left .ul1 > li dl dt {
  float: left;
  height: 100%;
}

.head4 .content .left .ul1 > li dl dt a {
  color: #4d4d4d;
  float: left;
  margin-right: 4px;
  font-weight: 700;
  line-height: 57.5px;
}

.head4 .content .left .ul1 > li dl dt em {
  display: inline-block;
  color: #b3b3b3;
  line-height: 57.5px;
}

.head4 .content .left .ul1 > li dl .dd1 {
  width: 118px;
  height: 100%;
  float: left;
}

.head4 .content .left .ul1 > li dl .dd1 a {
  padding: 0;
  line-height: 57.5px;
  color: #666;
}

.head4 .content .left .ul1 > li dl .dd2 {
  display: none;
  width: 998px;
  height: 460px;
  position: absolute;
  top: 0;
  left: 202px;
  box-shadow: 4px 0 8px 0 rgba(0, 0, 0, 0.1);
  background-color: white;
}

.head4 .content .left .ul1 > li dl .dd2 .dd2InnerBox {
  overflow: hidden;
  width: 717px;
  margin: 23px 28px 0 24px;
}

.head4 .content .left .ul1 > li dl .dd2 .dd2InnerBox .dd2Content span {
  position: relative;
  display: block;
  color: #666;
  margin-bottom: 12px;
  line-height: 15px;
  padding-left: 7px;
  font-size: 14px;
  font-weight: 700;
}

.head4 .content .left .ul1 > li dl .dd2 .dd2InnerBox .dd2Content span::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 14px;
  background-color: #666;
}

.head4 .content .left .ul1 > li dl .dd2 .dd2InnerBox .dd2Content .imgBox {
  position: relative;
  width: 712px;
  max-height: 278px;
  margin-bottom: 24px;
  box-sizing: border-box;
}

.head4 .content .left .ul1 > li dl .dd2 .dd2InnerBox .dd2Content .imgBox .ul2 {
  width: 712px;
  overflow-y: auto;
  max-height: 278px;
}

.head4 .content .left .ul1 > li dl .dd2 .dd2InnerBox .dd2Content .imgBox .ul2 li {
  position: relative;
  width: 139px;
  height: 79px;
  overflow: hidden;
  border: 1px solid #e6e6e6;
  margin-left: -1px;
  float: left;
  box-sizing: border-box;
}

.head4 .content .left .ul1 > li dl .dd2 .dd2InnerBox .dd2Content .imgBox .ul2 li a {
  display: block;
  width: 139px;
  height: 79px;
  text-align: center;
  text-decoration: none;
  color: #666;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.head4 .content .left .ul1 > li dl .dd2 .dd2InnerBox .dd2Content .imgBox .ul2 li:nth-child(5n+1) {
  margin-left: 0;
}

.head4 .content .left .ul1 > li dl .dd2 .dd2InnerBox .dd2Content .hotPoint a {
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 18px;
  border: 1px solid #eee;
  border-radius: 100px;
  font-size: 14px;
  color: #666;
}

.head4 .content .left .ul1 .active1 {
  background-color: white;
}

.head4 .content .right {
  background-color: white;
  height: 48px;
}

.head4 .content .right ul li {
  margin-left: 24px;
  float: left;
  position: relative;
}

.head4 .content .right ul li a {
  height: 41px;
  line-height: 41px;
  font-size: 14px;
  color: #333;
  display: block;
  position: relative;
}

.head4 .content .right ul li:hover a {
  border-bottom: 3px solid #cc5252;
}

.head4 .content .right ul li:nth-child(3)::before {
  content: "";
  position: absolute;
  right: -6px;
  top: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #b32424;
}

.head4 .content .right ul li:nth-child(8)::before {
  content: "";
  position: absolute;
  right: -6px;
  top: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #b32424;
}

.head4 .content .searchCar {
  float: right;
  display: none;
}

.head4 .content .searchCar .search_left {
  float: left;
  display: none;
}

.head4 .content .searchCar .search_left i {
  display: block;
  background-image: url(http://127.0.0.1/myriadWatch/images/d.png);
  background-position: 0 -346px;
  background-size: 475px;
  width: 32px;
  height: 48px;
}

.head4 .content .searchCar label {
  display: none;
  float: left;
  height: 42px;
  background-color: white;
}

.head4 .content .searchCar label span {
  position: absolute;
  width: 198px;
  left: 36px;
  color: #ccc;
  z-index: 1;
  height: 100%;
  line-height: 47px;
  font-size: 12px;
}

.head4 .content .searchCar label input {
  width: 180px;
  height: 100%;
  padding-left: 0;
  border: 0;
  display: block;
  color: #333;
  font-size: 14px;
  position: relative;
  z-index: 10;
  background: rgba(255, 255, 255, 0);
}

.head4 .content .searchCar i {
  display: block;
  float: left;
  width: 48px;
  height: 48px;
}

.head4 .content .searchCar .iSearch {
  margin-top: 10px;
  margin-right: 10px;
  background-image: url(http://127.0.0.1/myriadWatch/images/d.png);
  background-position: -443px -42px;
  background-size: 475px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.head4 .content .searchCar .iCar {
  margin-top: 15px;
  background-image: url(http://127.0.0.1/myriadWatch/images/a.png);
  background-position: -507px -382px;
  background-size: 589px;
  width: 24px;
  height: 24px;
}
