.listPage1 {
    font-size: 12px;
    width: 100%;
    height: 36px;
    line-height: 36px;
    background: url(//static.wbiao.co/p/pc/images/goods/W_detail_Bread.png) repeat-x;
    overflow: hidden;
    color: #666;
    margin-bottom: 18px;

    .content {
        width: 1200px;
        margin: 0 auto;

        .right {
            a {
                display: block;
                margin: 0 8px;
                line-height: 36px;
            }
        }
    }
}

.listPage2 {
    font-size: 12px;

    .content {
        width: 1200px;
        margin: 0 auto;

        .left {
            width: 210px;
            height: auto;
            background-color: pink;
        }

        .right {

            width: 970px;

            .top {
                position: relative;
                color: #666;
                background: #fff;
                margin-bottom: 45px;
                border: 1px solid #ddd;
                padding-left: 1px;
                padding-right: 3px;

                .d1 {
                    position: relative;
                    background: #fafafa;
                    min-width: 22px;
                    line-height: 22px;
                    padding: 5px 80px 5px 12px;
                    border-bottom: 0;

                    .select {
                        display: inline-block;

                        a {
                            display: inline-block;
                            height: 22px;
                            line-height: 22px;
                            border: 1px solid #dfdfdf;
                            padding: 0 3px;
                            margin-left: 5px;
                            color: #313131;
                            box-sizing: border-box;

                            b {
                                color: #333;

                                em {
                                    display: inline-block;
                                    margin-left: 5px;
                                    background-image: url(http://127.0.0.1/myriadWatch/images/a.png);
                                    background-position: -206px -89px;
                                    background-size: 589px;
                                    width: 7px;
                                    height: 7px;
                                }
                            }
                        }
                    }

                    .a1 {
                        color: #999;
                        position: absolute;
                        top: 7px;
                        right: 10px;

                    }
                }

                .dd {
                    >span {
                        display: block;
                        // border-top: 1px solid #fff;
                        width: 80px;
                        height: 100%;
                        line-height: 40px;
                        font-weight: 700;
                        color: #666;
                        background-color: #fafafa;
                        float: left;
                        text-align: center;
                    }

                }


                .d2 {

                    line-height: 40px;
                    position: relative;
                    border-bottom: 1px solid #eee;



                    .classifyRight {
                        position: relative;
                        margin-left: 80px;
                        margin-right: 12px;

                        .classifyRightA {
                            width: 750px;
                            height: 40px;
                            overflow: hidden;

                            ul {
                                li {
                                    margin-right: 23px;
                                    display: block;
                                    float: left;

                                    a {
                                        color: #666;
                                        padding: 0 3px;
                                        line-height: 26px;
                                    }

                                    .active {
                                        background: #333;
                                        color: #fff;
                                        padding-bottom: 1px;
                                        padding: 0 3px;
                                    }
                                }
                            }
                        }
                    }

                }

                .d3 {
                    line-height: 40px;
                    position: relative;
                    border-bottom: 1px solid #eee;

                    .price {
                        position: relative;
                        margin-left: 80px;
                        margin-right: 12px;

                        .priceA {
                            height: 40px;
                            overflow: hidden;

                            ul {
                                li {
                                    margin-right: 14px;
                                    float: left;

                                    a {
                                        color: #666;
                                        padding: 0 3px;
                                        line-height: 26px;
                                    }
                                }

                                li:last-child {
                                    margin-right: 0px;

                                }
                            }
                        }

                        .priceB {
                            float: right;

                            input {
                                width: 49px;
                                text-align: center;
                                border: 1px solid #dbdbdb;
                                outline: 0;
                                height: 19px;
                                line-height: 19px;
                                vertical-align: middle;
                            }

                            button {
                                width: 52px;
                                height: 20px;
                                line-height: 20px;
                                cursor: pointer;
                                margin-left: 8px;
                                display: inline-block;
                                background: #f0f0f0;
                                border: 1px solid #ececec;
                                text-align: center;
                                color: #666;
                                float: right;
                                margin-top: 12px;
                            }
                        }
                    }

                }

                .d4 {
                    line-height: 40px;
                    position: relative;
                    border-bottom: 1px solid #eee;

                    span {
                        height: 118px;
                    }

                    .brand {
                        position: relative;
                        margin-left: 80px;
                        margin-right: 12px;
                        height: 118px;

                        .brandA {
                            width: 743px;
                            height: 100%;


                            ul {
                                padding: 5px 10px;
                                height: 100%;

                                li {
                                    width: 110px;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    white-space: nowrap;
                                    margin-right: 10px;
                                    float: left;
                                    height: 26px;

                                    a {
                                        display: block;
                                        width: 110px;
                                        height: 100%;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                        white-space: nowrap;
                                        margin-right: 10px;
                                        color: #666;
                                        padding: 0 3px;
                                        line-height: 26px;

                                        em {
                                            display: none;
                                        }
                                    }
                                }
                            }



                        }

                        .brandC {
                            a {
                                display: inline-block;
                                width: 50px;
                                background: #f0f0f0;
                                border: 1px solid #ececec;
                                margin-left: 5px;
                                margin-top: 10px;
                                text-align: center;
                                color: #666;

                                i {
                                    transition: all .3s ease;
                                    display: inline-block;
                                    vertical-align: top;
                                    margin-top: 4px;
                                    background-image: url(http://127.0.0.1/myriadWatch/images/d.png);
                                    background-position: -389px -86px;
                                    background-size: 475px;
                                    width: 12px;
                                    height: 12px;
                                }

                                span {}
                            }
                        }
                    }
                }

                .d5 {
                    .core {

                        // width: 773px;
                        height: 40px;

                        ul {
                            float: left;
                            height: 100%;

                            li {
                                height: 100%;

                                margin-right: 23px;
                                float: left;

                                a {
                                    display: block;
                                    color: #666;
                                    padding: 0 3px;
                                    line-height: 40px;
                                }
                            }
                        }

                        .more {
                            display: inline-block;
                            width: 50px;
                            background: #f0f0f0;
                            border: 1px solid #ececec;
                            margin-left: 5px;
                            margin-top: 10px;
                            text-align: center;
                            color: #666;
                            float: right;

                            i {
                                display: inline-block;
                                vertical-align: top;
                                margin-top: 5px;
                                background-image: url(http://127.0.0.1/myriadWatch/images/d.png);
                                background-position: -279px -86px;
                                background-size: 475px;
                                width: 12px;
                                height: 12px;
                            }
                        }

                    }


                }

                .d6 {
                    margin-bottom: 1px;
                    line-height: 40px;
                    position: relative;
                    height: 40px;

                    .materials {
                        width: 745px;
                        height: 40px;

                        ul {
                            float: left;
                            height: 100%;

                            li {
                                height: 100%;
                                margin-right: 23px;
                                float: left;

                                a {
                                    display: block;
                                    color: #666;
                                    padding: 0 3px;
                                    line-height: 40px;
                                }
                            }
                        }
                    }

                    .more {
                        display: inline-block;
                        width: 50px;
                        background: #f0f0f0;
                        border: 1px solid #ececec;
                        margin-left: 5px;
                        margin-top: 10px;
                        text-align: center;
                        color: #666;
                        float: right;

                        i {
                            transition: all .3s ease;
                            display: inline-block;
                            vertical-align: top;
                            margin-top: 4px;
                            background-image: url(http://127.0.0.1/myriadWatch/images/d.png);
                            background-position: -389px -86px;
                            background-size: 475px;
                            width: 12px;
                            height: 12px;
                        }
                    }

                    .moreSelect {
                        display: inline-block;
                        width: 50px;
                        background: #f0f0f0;
                        border: 1px solid #ececec;
                        margin-left: 5px;
                        margin-top: 10px;
                        text-align: center;
                        color: #666;
                        float: right;


                        i {
                            display: inline-block;
                            vertical-align: top;
                            margin-top: 4px;
                            background-image: url(http://127.0.0.1/myriadWatch/images/d.png);
                            background-position: -279px -86px;
                            background-size: 475px;
                            width: 12px;
                            height: 12px;
                        }
                    }
                }

                .d7 {
                    width: 280px;
                    height: 24px;
                    line-height: 20px;
                    position: absolute;
                    bottom: -25px;
                    left: 50%;
                    margin-left: -140px;
                    text-align: center;
                    margin-bottom: 1px;


                    .d7A {
                        width: 280px;
                        display: inline-block;
                        // padding: 0 13px;
                        height: 24px;
                        background-color: #fff;
                        border: 1px solid #ddd;
                        border-top-color: #fff;
                        cursor: pointer;
                        color: #999;

                        i {
                            margin-bottom: -1px;
                            display: inline-block;
                            background-image: url(http://127.0.0.1/myriadWatch/images/a.png);
                            background-position: -576px -434px;
                            background-size: 589px;
                            width: 10px;
                            height: 10px;
                        }
                    }

                }
            }

            .middle {
                margin: 0 auto 25px;
                background: #fff;

                .title {
                    border-bottom: 1px solid #eee;
                    display: inline-block;
                    vertical-align: top;

                    .left2 {
                        ul {
                            li {
                                display: block;
                                float: left;
                                width: 80px;
                                height: 36px;
                                text-align: center;

                                a {
                                    position: relative;
                                    line-height: 34px;
                                    display: inline-block;
                                }

                                .active {
                                    color: #cc9952;
                                    font-weight: 700;
                                    border-bottom: 3px solid #cc9952;

                                }
                            }

                        }
                    }

                    .middle2 {
                        width: 500px;
                        height: 36px;
                    }

                    .right2 {
                        line-height: 36px;


                        a {
                            position: relative;
                            display: inline-block;
                            width: 24px;
                            height: 24px;
                            text-align: center;
                            vertical-align: middle;
                            z-index: 0;

                            i {
                                position: absolute;
                                top: 6px;
                                left: 6px;
                                background-image: url(http://127.0.0.1/myriadWatch/images/a.png);
                                background-size: 589px;
                                width: 6px;
                                height: 11px;
                                line-height: 10px;
                            }


                        }

                        .aBack {

                            .iBack1 {
                                display: block;

                                background-position: -576px -474px;

                            }

                            .iBack2 {
                                background-position: -576px -474px;

                                display: none;
                            }



                            span {
                                margin-right: 10px;
                                font-size: 14px;
                                color: #999;

                            }
                        }

                        .aNext {

                            .iNext1 {
                                position: absolute;
                                top: 6px;
                                left: 6px;
                                display: block;
                                background-image: url(http://127.0.0.1/myriadWatch/images/a.png);
                                background-position: -576px -516px;
                            }

                            .iNext2 {
                                display: none;

                                position: absolute;
                                top: 6px;
                                left: 6px;
                                background-image: url(http://127.0.0.1/myriadWatch/images/a.png);
                                background-position: -576px -495px;
                            }
                        }

                        span {
                            margin-right: 10px;
                            font-size: 14px;
                            color: #999;
                        }
                    }


                }

                .detail {
                    ul {
                        margin-right: -8.6px;

                        li {
                            position: relative;
                            width: 236px;
                            height: 450px;
                            display: block;
                            overflow: hidden;
                            float: left;
                            margin: 10px 8.6px 10px 0;

                            .aTop {
                                display: block;
                                overflow: hidden;
                                width: 220px;
                                height: 275px;
                                margin: 10px auto 5px auto;
                                position: relative;
                                text-align: center;

                                .imgGood {
                                    width: auto;
                                    height: 275px;
                                    position: absolute;
                                    left: 50%;
                                    margin-left: -137.5px;
                                    background-color: #fff;
                                    border: 0;
                                    display: block;
                                }

                                .schoolOpen {
                                    position: absolute;
                                    width: 100%;
                                    bottom: 0;
                                    left: 0;

                                    .schoolOpenImg {
                                        width: 100%;
                                    }

                                    span {
                                        position: absolute;
                                        right: 17px;
                                        bottom: 7px;
                                        color: #fff;
                                        font-size: 12px;

                                        em {
                                            font-size: 16px;
                                        }
                                    }
                                }

                            }

                            .goodsText {
                                margin: 0 16px;
                                padding-bottom: 20px;
                                line-height: 18px;

                                .p1 {
                                    overflow: hidden;
                                    margin-bottom: 10px;

                                    .emMonth {
                                        position: relative;
                                        top: -2px;
                                        display: inline-block;
                                        padding: 0 2px;
                                        background: linear-gradient(270deg, #ff8080 0, #e65c5c 100%);
                                        border-radius: 2px;
                                        color: #fff;
                                    }

                                    .fenqi_price {
                                        margin-right: 10px;
                                        color: #e65c5c;
                                        font-size: 16px;

                                        em {
                                            font-size: 16px;
                                            font-weight: 700;
                                        }
                                    }

                                    .s_price {
                                        position: relative;
                                        color: #666;
                                        font-size: 16px;
                                        font-family: DIN-Bold;
                                        font-weight: 400;
                                    }

                                }

                                .aGoodsName {
                                    height: 36px;
                                    line-height: 18px;
                                    margin-bottom: 8px;
                                    color: #666;
                                    overflow: hidden;
                                    -webkit-line-clamp: 2;
                                    -webkit-box-orient: vertical;
                                    word-break: break-all;
                                    display: -webkit-box;
                                }

                                .goods_sale {
                                    margin-bottom: 4px;
                                    color: #999;

                                    span {
                                        color: #cc5252;
                                        margin-bottom: 8px;
                                        text-overflow: ellipsis;
                                        white-space: nowrap;
                                        overflow: hidden;

                                    }
                                }

                                .aShop {
                                    color: #999;
                                    display: block;
                                    margin-bottom: 7px;

                                }

                                .p2 {
                                    span {
                                        background: 0 0;
                                        border: 1px solid #cc9952;
                                        color: #cc9952;
                                        display: inline-block;
                                        line-height: 16px;
                                        padding: 0 7px;
                                        border-radius: 2px;
                                    }
                                }

                                .liHover {
                                    position: absolute;
                                    bottom: 10px;
                                    width: 204px;
                                    display: none;
                                    background: #fff;

                                    .addCollect {
                                        display: block;
                                        float: left;
                                        border: 1px solid #eee;
                                        box-sizing: border-box;
                                        width: 50%;
                                        text-align: center;
                                        line-height: 28px;
                                        color: #333;
                                    }

                                    .collected {
                                        color: #999;
                                        float: left;
                                        border: 1px solid #eee;
                                        box-sizing: border-box;
                                        width: 50%;
                                        text-align: center;
                                        line-height: 28px;
                                    }

                                    .addCar {
                                        color: #cc5252;
                                        margin-left: -1px;
                                        display: block;
                                        float: left;
                                        border: 1px solid #eee;
                                        box-sizing: border-box;
                                        width: 50%;
                                        text-align: center;
                                        line-height: 28px;
                                    }

                                }

                            }
                        }
                    }
                }

                #pageNumber {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    i {

                        width: 28px;
                        height: 28px;
                        line-height: 28px;
                        font-size: 14px;
                        color: #999;
                        margin-left: 8px;
                        border-radius: 50%;
                        border: 1px solid #fff;
                        background-size: 589px;
                        background-image: url(http://127.0.0.1/myriadWatch/images/a.png);
                    }

                    #pgup {

                        background-position: -507px -38px;
                    }

                    #pgdn {
                        background-position: -507px 0;
                    }

                    #page {

                        span {
                            display: inline-block;
                            width: 28px;
                            height: 28px;
                            line-height: 28px;
                            font-size: 14px;
                            color: #999;
                            margin-left: 8px;
                            border-radius: 50%;
                            border: 1px solid #fff;
                            cursor: pointer;
                            text-align: center;

                        }

                        .active {
                            border: 1px solid #666;
                            background-color: #666;
                            color: #fff;

                        }

                        b {
                            display: inline-block;
                            width: 28px;
                            height: 28px;
                            margin-left: 8px;
                            text-align: center;

                        }
                    }


                }
            }


        }
    }
}