.main5 {
    background-color: #f5f5f5;

    a {
        text-decoration: none;
        color: #666;
        line-height: 1.5;
        cursor: pointer;
    }

    .content1 {
        font-size: 12px;
        width: 1200px;
        margin: auto;
        margin-bottom: 32px;

        .top {
            height: 60px;

            h3 {
                margin-left: 8px;
                font-size: 20px;
                color: #4a4a4a;
                line-height: 60px;
                font-weight: 900;
            }

            a {
                color: #666;
                line-height: 60px;
                float: right;
            }
        }

        .bottom {
            height: 280px;

            .a1 {
                background-color: #fff;
                position: relative;
                width: 392px;
                height: 280px;
                margin-right: 12px;
                overflow: hidden;

                .pImg {
                    width: 100%;
                    height: 100%;
                    transition: all .5s ease;

                    img {
                        transition: all 1s;

                    }
                }

                .text {
                    width: 90%;
                    position: absolute;
                    left: 5%;
                    bottom: 28px;
                    text-align: center;
                    color: #fff;
                    z-index: 2;

                    .button {
                        width: 57px;
                        height: 30px;
                        margin: 0 auto 10px;

                        i {
                            display: block;
                            background-image: url(http://127.0.0.1/myriadWatch/images/d.png);
                            background-position: -357px -38px;
                            background-size: 475px;
                            width: 57px;
                            height: 30px;
                        }
                    }

                    .p1 {
                        font-size: 20px;
                        margin-bottom: 2px;
                        font-weight: 700;
                    }

                    .p2 {
                        letter-spacing: 1px;
                    }




                }

                .bgImg {
                    width: 100%;
                    height: 110px;
                    position: absolute;
                    bottom: 0;
                    opacity: .6;
                    background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0) 0, #000 100%);


                }

                .video {
                    display: none;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 2;
                }
            }

            .a1:hover img {
                transform: scale(1.2);
            }

            .a1:hover .button i {
                background-position: 0 -256px;
            }

            .a1:hover .bgImg {
                opacity: 1;
            }


            ul {
                margin-right: -12px;

                li {
                    width: 190px;
                    height: 280px;
                    margin-right: 12px;
                    background-color: #fff;
                    float: left;

                    a {
                        display: block;
                        height: 100%;

                        .pImg {
                            width: 100%;
                            height: 160px;
                            overflow: hidden;
                        }

                        .p1 {
                            margin: 12px 20px 26px;
                            color: #333;
                            height: 36px;
                            line-height: 18px;
                            overflow: hidden;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                            word-break: break-all;
                            display: -webkit-box;
                        }

                        .author {
                            margin: 0 20px;
                            height: 40px;
                            line-height: 40px;
                            color: #999;
                            border-top: 1px solid #eee;

                            .spImg {
                                position: relative;
                                width: 24px;
                                height: 24px;
                                margin-top: 8px;
                                border: 1px solid #eee;
                                border-radius: 50%;
                                box-sizing: border-box;
                                background-size: 80%;
                                overflow: hidden;

                                img {
                                    position: absolute;
                                    top: 50%;
                                    transform: translateY(-50%);
                                }
                            }

                            .spName {
                                width: 85px;
                                margin-left: 4px;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                overflow: hidden;
                            }
                        }
                    }

                    a:hover {
                        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .15);
                    }
                }
            }
        }
    }

    .content2 {
        font-size: 12px;
        width: 1200px;
        margin: auto;

        h3 {
            font-size: 20px;
            color: #4a4a4a;
            line-height: 60px;
            font-weight: 900;

            a {
                font-size: 20px;
                color: #4a4a4a;
                line-height: 60px;
            }
        }

        .list {
            a {
                height: 240px;
                position: relative;
                display: block;
                width: 291px;
                margin-right: 12px;
                text-align: center;
                color: #fff;
                overflow: hidden;
                float: left;

                .pImg {
                    height: 240px;

                    img {
                        transition: all .5s ease;

                    }
                }

                .pImg2 {
                    width: 291px;
                    height: 200px;
                    overflow: hidden;

                    img {
                        width: auto;
                        transition: all .5s;
                    }
                }

                .text {
                    width: 90%;
                    position: absolute;
                    top: 22px;
                    left: 5%;

                    .p1 {
                        color: #cc9952;
                        font-size: 13px;
                        font-weight: 700;
                    }

                    .p2 {
                        color: #666;
                    }
                }

                .text2 {
                    padding: 16px 20px 18px;
                    background-color: #fff;

                    .p1 {
                        font-size: 14px;
                        color: #666;
                        text-align: left;
                        height: 40px;
                        line-height: 20px;
                        overflow: hidden;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        word-break: break-all;
                        display: -webkit-box;
                    }
                }
            }

            a:hover {
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .15);
            }

            a:hover img {
                transform: scale(1.1);
            }

            a:last-child {
                margin-right: 0;
            }
        }
    }
}