.main5 {
  background-color: #f5f5f5;
}

.main5 a {
  text-decoration: none;
  color: #666;
  line-height: 1.5;
  cursor: pointer;
}

.main5 .content1 {
  font-size: 12px;
  width: 1200px;
  margin: auto;
  margin-bottom: 32px;
}

.main5 .content1 .top {
  height: 60px;
}

.main5 .content1 .top h3 {
  margin-left: 8px;
  font-size: 20px;
  color: #4a4a4a;
  line-height: 60px;
  font-weight: 900;
}

.main5 .content1 .top a {
  color: #666;
  line-height: 60px;
  float: right;
}

.main5 .content1 .bottom {
  height: 280px;
}

.main5 .content1 .bottom .a1 {
  background-color: #fff;
  position: relative;
  width: 392px;
  height: 280px;
  margin-right: 12px;
  overflow: hidden;
}

.main5 .content1 .bottom .a1 .pImg {
  width: 100%;
  height: 100%;
  transition: all .5s ease;
}

.main5 .content1 .bottom .a1 .pImg img {
  transition: all 1s;
}

.main5 .content1 .bottom .a1 .text {
  width: 90%;
  position: absolute;
  left: 5%;
  bottom: 28px;
  text-align: center;
  color: #fff;
  z-index: 2;
}

.main5 .content1 .bottom .a1 .text .button {
  width: 57px;
  height: 30px;
  margin: 0 auto 10px;
}

.main5 .content1 .bottom .a1 .text .button i {
  display: block;
  background-image: url(http://127.0.0.1/myriadWatch/images/d.png);
  background-position: -357px -38px;
  background-size: 475px;
  width: 57px;
  height: 30px;
}

.main5 .content1 .bottom .a1 .text .p1 {
  font-size: 20px;
  margin-bottom: 2px;
  font-weight: 700;
}

.main5 .content1 .bottom .a1 .text .p2 {
  letter-spacing: 1px;
}

.main5 .content1 .bottom .a1 .bgImg {
  width: 100%;
  height: 110px;
  position: absolute;
  bottom: 0;
  opacity: .6;
  background-image: linear-gradient(-180deg, transparent 0, #000 100%);
}

.main5 .content1 .bottom .a1 .video {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.main5 .content1 .bottom .a1:hover img {
  transform: scale(1.2);
}

.main5 .content1 .bottom .a1:hover .button i {
  background-position: 0 -256px;
}

.main5 .content1 .bottom .a1:hover .bgImg {
  opacity: 1;
}

.main5 .content1 .bottom ul {
  margin-right: -12px;
}

.main5 .content1 .bottom ul li {
  width: 190px;
  height: 280px;
  margin-right: 12px;
  background-color: #fff;
  float: left;
}

.main5 .content1 .bottom ul li a {
  display: block;
  height: 100%;
}

.main5 .content1 .bottom ul li a .pImg {
  width: 100%;
  height: 160px;
  overflow: hidden;
}

.main5 .content1 .bottom ul li a .p1 {
  margin: 12px 20px 26px;
  color: #333;
  height: 36px;
  line-height: 18px;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
  display: -webkit-box;
}

.main5 .content1 .bottom ul li a .author {
  margin: 0 20px;
  height: 40px;
  line-height: 40px;
  color: #999;
  border-top: 1px solid #eee;
}

.main5 .content1 .bottom ul li a .author .spImg {
  position: relative;
  width: 24px;
  height: 24px;
  margin-top: 8px;
  border: 1px solid #eee;
  border-radius: 50%;
  box-sizing: border-box;
  background-size: 80%;
  overflow: hidden;
}

.main5 .content1 .bottom ul li a .author .spImg img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.main5 .content1 .bottom ul li a .author .spName {
  width: 85px;
  margin-left: 4px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.main5 .content1 .bottom ul li a:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
}

.main5 .content2 {
  font-size: 12px;
  width: 1200px;
  margin: auto;
}

.main5 .content2 h3 {
  font-size: 20px;
  color: #4a4a4a;
  line-height: 60px;
  font-weight: 900;
}

.main5 .content2 h3 a {
  font-size: 20px;
  color: #4a4a4a;
  line-height: 60px;
}

.main5 .content2 .list a {
  height: 240px;
  position: relative;
  display: block;
  width: 291px;
  margin-right: 12px;
  text-align: center;
  color: #fff;
  overflow: hidden;
  float: left;
}

.main5 .content2 .list a .pImg {
  height: 240px;
}

.main5 .content2 .list a .pImg img {
  transition: all .5s ease;
}

.main5 .content2 .list a .pImg2 {
  width: 291px;
  height: 200px;
  overflow: hidden;
}

.main5 .content2 .list a .pImg2 img {
  width: auto;
  transition: all .5s;
}

.main5 .content2 .list a .text {
  width: 90%;
  position: absolute;
  top: 22px;
  left: 5%;
}

.main5 .content2 .list a .text .p1 {
  color: #cc9952;
  font-size: 13px;
  font-weight: 700;
}

.main5 .content2 .list a .text .p2 {
  color: #666;
}

.main5 .content2 .list a .text2 {
  padding: 16px 20px 18px;
  background-color: #fff;
}

.main5 .content2 .list a .text2 .p1 {
  font-size: 14px;
  color: #666;
  text-align: left;
  height: 40px;
  line-height: 20px;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
  display: -webkit-box;
}

.main5 .content2 .list a:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
}

.main5 .content2 .list a:hover img {
  transform: scale(1.1);
}

.main5 .content2 .list a:last-child {
  margin-right: 0;
}
